.menuList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.menuItem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}